<app-ctn-navbar></app-ctn-navbar>

<div class="dashboard-container">
    <div class="sidenav" [ngClass]="{'collapse':collapse}">
        <app-ctn-sidenav [user]="dashboard?.user" [org]="dashboard?.organization"></app-ctn-sidenav>
    </div>
    <div class="main-outer">
        <div class="main-container">
            <!--<button (click)="collapseSideNav()">collapse</button>-->

            <router-outlet>
            </router-outlet>
        </div>
        <div class="copy-right">
            Copyright <span class="brand bold">©</span> 2018 Hauberk
        </div>
    </div>
</div>