<app-nav></app-nav>
<div class="background"></div>
<section id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 register-left ">
				<img src="../../assets/images/regi_logo_white.png" alt="" />
				<h3>Welcome</h3>
				<p>You are 30 seconds away from creating new way to organize your organization</p>
				<a href='/login' name="">Login</a>
				<br/>
			</div>
			<div class="col-md-8 src-img-cont">
				<img src="../../assets/images/screen.jpg" class="img-scr" alt="">
			</div>
		</div>
	</div>
</section>